# VK Bot
VK_TOKEN=your_vk_token_here
VK_GROUP_ID=your_group_id

# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=vk_bot
DB_USER=postgres
DB_PASSWORD=your_password

# Logging
LOG_DIR=.
LOG_LEVEL=INFO

# Excel reports
EXCEL_DIR=excel_reports
EXCEL_RETENTION_DAYS=7

#Ключ
#Необходимо запустить скрипт generate_key.py и сгенерированный ключ вставить нижу
ENCRYPTION_KEY=key_here